/* body{
    background-color: rgb(137, 197, 247);
} */
.out{
    position: relative;
    outline: green solid 1px;
    width: 100%;    
}
.login-form>.form{
    position: absolute;
    right: 50%;
    display: inline-block;
}
.form>input, button{
    width: 100%;
    box-sizing: border-box;
    font: inherit;
}
